@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

.container {
    margin-top: 95px;
}

.sub-container {
    overflow: scroll;
    height: 100%;
    margin-top: 20px;
}
input {
    padding: 3px 5px
}
.list {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    background-color:white;
    height: 100%;
    border: 1px solid #cccccc
}

.list.sceneries {
    height: auto
}

.card {
background-color: white;
padding: 15px;
border-radius: 5px;
margin-bottom: 15px;
border: 1px solid #cccccc
}


.card.dragging {
    opacity: 0.4
}

/* .container-box {
    background-color: rgba(0,0,0,0.3);
    margin: 15px;
    padding: 15px;
} */

.select-scenery {
    position: fixed;
    height: 600px
}

.scenery-btn {
    text-align: center
}


.select-btn {
    border: none;
    background-color: #e07345;
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
}
.container-box {
    display: flex; 
    justify-content: space-between
}

@media screen and (max-width: 1100px) {
   .container-box {
       display: block
   }
   .scenery-type {
    display: none
}
}