@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif Display', serif;
}

body {
    background-color: #eeeeee;
}
.post-wall {
    margin: 90px;
}

.post {
    width: 500px;
    height: auto;
    background-color: #f5ede2;
    margin: 0px auto 20px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.post h3 {
    margin: 0;
}
.personal p {
    margin: 0;
    font-size: 12px;
}
.personal {
    display: flex;
    align-items: center;
}

.personal img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-image {
    margin: 15px 0;
    border-radius: 3px;
    overflow: hidden;
}

#new-post {
    position: fixed;
    top: 90px;
    left: 20px;
    border: none;
    background-color: transparent;
    color: orange;
    outline: none;
    cursor: pointer;
    font-size: 30px;
}

/* .likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

.commentBtn {
    float: right;
    background-color: transparent;
    border: 1px solid #cccccc;
    outline: none;
    padding: 5px 10px;
    border-radius: 50%;
    margin: 5px;
}

.add-new-post {
    text-align: center;
    width: 300px;
    background-color: orange;
    /* display: none; */
    position: fixed;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    transition: bottom 0.5s ease;
}

.title {
    margin-top: 15px;
    font-size: 20px;
    color: #976119;
}

.comment-wall {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin-top: 30px;
    display: none;
    border-radius: 5px;
}

.show {
    display: block;
}

.bottom {
    bottom: 0;
}

#content {
    width: 92%;
    padding: 5px;
}

.fa-check-circle {
    font-size: 20px;
}

#add-comment {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
