.oops-container {
  /* background: #ffa600; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.error-message {
  background-color: #ffa600;
  width: 400px;
  height: 450px;
}
#container1 {
  padding-left: 25px;
  padding-top: 100px;
}
.footer {
  padding: 50px;
  background-color: #ffa600;
}
.inner_footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.about ul li {
  display: inline-flex;
  justify-content: space-between;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
