@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');

h1 {
    font-family: 'Noto Serif', serif;
    text-align: center;
    font-size: 50px
}

.container {
    margin-top: 150px;
    padding: 0 30px   
}

.trip {
    width: 200px;
    height: 200px;
}

.intro {
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.pic {
    display: flex;  
    justify-content: center;
    margin-top: 20px;
}