@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');

body {
    font-family: 'Noto Serif Display', serif;
    font-weight: bold;
    position: relative;
}
.title {
    display: flex;
    justify-content: center;
}
.experience {
    display: flex;
    justify-content: center;
}

.feedbackContainer {
    margin: 100px 100px;
}
.btn{
    margin-top: 30px;
    background-color: #e07345;
    color: #fff;
    font-weight: bold;
    border-color: #e07345;
}
