@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');
@import 'bootstrap';
/* $primary: #E07345; */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul {
    margin: 0;
}
.btn {
    background-color: #e07345;
    color: #fff;
    font-weight: bold;
    border-color: #e07345;
    font-family: 'Noto Serif Display', serif;
}
.btn:hover {
    color: #fff;
}
a:hover {
    font-size: 20px;
}
body {
    position: relative;
}
.display-none {
    display: none;
}
.mainpage-background-container {
    height: 100vh;
    background-image: linear-gradient(#00000040, #00000080),
        url(images/background1.JPEG);
    z-index: 1;
    background-position: center;
    min-width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.covid-container h3 {
    text-align: center;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.cardcontent img {
    border-radius: 15px;
}

.search-container input {
    background-color: #00000000;
    color: #fff;
}
.search-container input.check-out {
    border: 1px solid rgb(162, 162, 162) 00;
    background-color: #00000000;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
.search-container .droplist {
    width: 30vw;
    max-width: 500px;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 5px 0 0 5px;
    text-align: start;
    color: #fff;
}
.search-trip-btn {
    margin-left: 5vw;
}
.card {
    height: 100%;
    max-width: 100%;
    width: 350px;
    overflow: hidden;
    margin: 5px 0;
}
.row {
    padding: 5px 0 20px;
}
.card img {
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.4);
}

.card h5 {
    text-align: center;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    display: none;
    transition: 1s all;
    font-size: 30px;
    text-shadow: 2px 5px 5px #000;
}

img:hover ~ h5 {
    display: block;
}
.p-2 {
    justify-content: space-between;
    border: none;
}
.footer {
    padding: 30px 0 10px;
    background-color: #e07345;
}
.inner_footer {
    color: #fff;
}
.about ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.about li {
    padding: 0 5px;
    font-family: 'Noto Serif Display', serif;
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
}

.card:hover {
    box-shadow: 2px 3px 8px #cccccc;
    transform: scale(1.05);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-md-4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Noto Serif Display', serif;
}
.inner_footer .icons,
.inner_footer .reserved {
    display: flex;
    justify-content: center;
}
.inner_footer .icons div {
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.inner_footer .about div {
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.inner_footer .col-md-4 {
    margin-bottom: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    font-family: 'Noto Serif Display', serif;
}
h1 {
    padding: 0;
    margin: 70px 0 20px;
    font-size: 40px;
    text-align: center;
}
.covid_container {
    margin-bottom: 30px;
}
.cardcontent {
    position: relative;
}
.cardcontent img {
    height: 266.72px;
}
.CompanionTitle {
    font-size: 22px;
    text-shadow: 2px 5px 5px #000;
    color: #fff;
    font-family: 'Noto Serif', serif;
    position: absolute;
    top: 60%;
    left: 10%;

    /* transform: translate(-50%, -50%); */
}
.trip-title {
    font-size: 22px;
    text-shadow: 2px 5px 5px #000;
    color: #fff;
    font-family: 'Noto Serif', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.trip-period {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-family: 'Noto Serif', serif;
    padding-left: 10px;
}

@media screen and (max-width: 990px) {
    .main {
        top: 35%;
    }
    .CompanionTitle {
        font-size: 20px;
    }

}
