@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');

* {
    font-family: 'Noto Serif Display', serif;
        margin: 0;
}

img {
    width: 350px;
    height: 320px;
    border-radius: 5%;
    border: 2px solid #cccccc;
}

h2 a {
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.login,
.register {
    text-align: center;
    padding: 10px 20px;
}

.register {
    display: none;
}
.register a {
    color: #d27950;
    text-decoration: none;
}

.login {
    display: block;
}

.login input,
.register input {
    padding: 5px 10px;
    margin-top: 10px;
}

.outer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outer input[type='submit'] {
    width: 100%;
    background-color: transparent;
    border: 1px solid #e48d0a;
    border-radius: 15px;
    cursor: pointer;
}

.outer input[type='submit']:hover {
    background-color: orange;
    color: white;
}

.google-login {
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    margin: 10px auto;
}

.logo {
    width: 200px;
    height: 45px;
    border: 0;
    align-items: center;
    display: flex;
}


@media screen and (max-width:675px) {
    img {
        display: none
    }
}