@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-none {
    display: none;
}

.brand a {
    font-size: 30px;
}

.logo {
    width: 290px;
    height: 60px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    position: fixed;
    top: 0;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    font-family: 'Noto Serif Display', serif;
}

#search {
    border-radius: 10px;
    outline: none;
    border: none;
    opacity: 0.8;
    padding: 8px 10px;
    margin-left: 10px;
}

.fa-globe-americas {
    font-size: 25px;
    float: right;
    display: none;
}

@media only screen and (max-width: 957px) {
    .nav ul {
        display: block;
        padding: 0;
    }

    .brand {
        margin: 0 auto;
    }

    nav {
        position: fixed;
        top: 80px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        height: 100vh;
        z-index: -1;
        display: none;
    }

    nav li {
        padding: 15px;
        text-align: center;
    }

    nav li:hover {
        background-color: bisque;
    }

    .fa-globe-americas {
        display: block;
        z-index: 100;
    }

    .show {
        display: block;
    }

}
