.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50vh;
}
.countdown {
    background-color: #dc7549;
    width: 700px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: px; */
    color: #fff;
    position: absolute;
}