@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Bebas+Neue&family=Noto+Serif+Display&display=swap');
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
/* calender style */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: #f6f6f6;
    color: #454545;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    font-weight: normal;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #fbc107;
    background: #fbc107;
    font-weight: normal;
    color: #ffffff;
}
.ui-widget.ui-widget-content {
    border-radius: 15px;
}
.ui-datepicker .ui-datepicker-header {
    border-radius: 15px 15px 0 0;
}
/* calender style */
body,
h4,
h5,
input {
    padding: 0;
    margin: 0;
}
.position-relative {
    position: relative;
}
.display-none {
    display: none;
}

.search-container {
    width: 100%;
    z-index: 100;
    border-radius: 25px 25px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 50px;
    background-color: #00000040;
}
.search-container h4 {
    color: #fff;
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 10px;
}
.search-bar {
    border: #d0d0d0 0.5px solid;
    border-radius: 15px;
    display: flex;
}
.search-bar h5 {
    text-align: start;
    color: #9b9fa6;
    font-size: 12px;
}

.search-bar i {
    margin-right: 1.2vw;
    font-size: 2vw;
    color: #9b9fa6;
}
.search-bar .row {
    width: 100%;
}
.search-bar input,
input::placeholder {
    height: 35px;
    font-size: 18px;
    color: #fff;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}
.search-container .content {
    display: flex;
}
.search-container .search-bar {
    display: flex;
}
.check-date {
    display: flex;
}
.destination,
.check-in,
.check-out {
    padding: 0.8vw 0 0 1vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.destination,
.check-in {
    border-right: #d0d0d0 0.5px solid;
}
.search-btn button {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 15px;
    background-color: #d27950;
    border: none;
    font-family: 'Noto Serif', serif;
    color: #fff;
}
.search-btn button:hover {
    background-color: #d27950;
    border: none;
    font-size: 18px;
}
.calendar {
    position: absolute;
    top: -430%;
    left: 0;
    width: 100%;
}
@media (max-width: 767px) {
    .search-container {
        text-align: center;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .search-bar {
        margin-bottom: 10px;
        flex-direction: column;
    }

    .destination,
    .check-in,
    .check-out {
        width: 100%;
    }
    .destination {
        border-right: none;
        border-bottom: #d0d0d0 0.5px solid;
        font-family: 'Noto Serif Display', serif;
    }
    .search-bar .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .search-bar i {
        font-size: 20px;
    }
    .calendar {
        top: -550%;
        width: 100%;
    }
    .check-in,
    .check-out {
        width: 50%;
    }
    .check-out .icon {
        width: 0;
    }
    .search-btn button {
        height: 50px;
    }
}
@media (max-width: 991px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .search-bar {
        margin-bottom: 10px;
    }
    .calendar {
        width: 100%;
        top: -480%;
    }
    .search-btn button {
        height: 50px;
    }
}
@media (min-width: 992px) {
    .content {
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-between;
    }
    .search-bar {
        width: 85%;
    }
    .destination {
        width: 40%;
    }
    .check-date {
        width: 60%;
    }
    .check-in,
    .check-out {
        width: 50%;
    }
}
