.mainContainer {
    height: 100vh;
    background-image: linear-gradient(#00000040, #00000080),
        url(images/background1.JPEG);
    z-index: 1;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
}